body{font-family: "微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;}
i,em{font-style:normal;}
b,strong{font-weight: 100;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight: 100;}
img{border:0;display:block;}
input{outline: none;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow: hidden;visibility: hidden;}
.left{float: left;}
.right{float: right;}


/*logo*/
#logo{width: 1200px;margin: 0 auto;}


/*main*/
.main {
			    overflow: hidden;
			    margin: 0 auto;
			    width: 1200px;
			    position: relative;
			    /* z-index: 0; */
			}
			.trolley {
			    overflow: hidden;
			    width: 1140px;
			}
			.trolley table {
			    border: 1px solid #d6d6d6;
			    margin: 0 auto;
			}
			.trolley td {
			    height: 83px;
			    padding: 16px 0;
			    border-bottom: 1px solid #d6d6d6;
			    text-align: center;
			}
			.trolley td a {
			    display: block;
			    height: 83px;
			    position: relative;
			    overflow: hidden;
			}
			.trolley td a p {
			    float: left;
			    width: 300px;
			    margin-right: 50px;
			    text-align: left;
			}
			.trolley td a img {
			    width: 83px;
			    height: 83px;
			    float: left;
			    margin-right: 10px;
			}
			.trolley td a p b {
			    height: 30px;
			    line-height: 15px;
			    overflow: hidden;
			    display: block;
			    color: #333;  
			    font-size: 12px; 
				}	
				.trolley td a p font {
			    display: block;
			    height: 24px;
			    overflow: hidden;
			}
			.trolley td label {
			    background: #fff;
			    display: inline-block;
			    width: 85px;
			    height: 24px;
			    border: 1px solid #cbcbcb;
			    overflow: hidden;
			}
			.trolley td label i {
			    display: inline-block;
			    width: 27px;
			    height: 24px;
			    line-height: 22px;
			    float: left;
			    text-align: center;
			    font-size: 18px;
			    color: #333;
			}
			.trolley td label input {
				outline: none;
			    width: 28px;
			    float: left;
			    border-left: 1px solid #eaeaea;
			    text-align: center;
			    height: 24px;
			    line-height: 24px;
			    border-right: 1px solid #eaeaea;
			}
				.trolley td a strong {
			    float: left;
			    font-weight: normal;
			    padding-top: 24px;
			    width: 135px;
			    display: block;
			    line-height: 15px;
			    color: #999;
			    text-align: left;
			}
			.trolley td a.del {
			    display: inline;
			    font-size: 12px;
			    color: #333;
			}
		.trolley th {
			    border-bottom: 1px solid #d6d6d6;
			    height: 43px;
			    background: #f1f1f1;
			    font-weight: normal;
			    text-align: center;
			}
			.trolley th input {
			    margin-right: 12px;
			    position: relative;
			    top: 2px;
			}
			
			.trolley h3 {
			    height: 52px;
			    padding-top: 10px;
			    line-height: 52px;
			    font-size: 12px;
			    color: #333;
			}
			.trolley h3 a {
			    padding: 0 0 0 15px;
			    color: #e92d2f;
			    text-decoration: underline;
			}
			.trolley .ft {
			    width: 1140px;
			    background: #FFF;
			    margin-bottom: 20px;
			    line-height: 52px;
			    height: 52px;
			    padding: 23px 0 23px 0px;
			    overflow: hidden;
			}
			.trolley .ft .ft_nei {
			    width: 1140px;
			    margin: 0 auto;
			}
			.trolley .ft span {
			    color: #999;
			    font-size: 18px;
			    float: right;
			    line-height: 68px;
			}
			.trolley .ft span a {
			    display: inline-block;
			    width: 120px;
			    height: 52px;
			    line-height: 52px;
			    background: #dc0f50;
			    text-align: center;
			    font-size: 20px;
			    color: #fff;
			    position: relative;
			    top: -14px;
			}
			.trolley .ft span i {
			    color: #dc0f50;
			}
			.trolley .ft span font {
			    padding-right: 15px;
			    padding-left: 5px;
			    color: #999;
			    font-size: 18px;
			    float: right;
			    line-height: 68px;
			}
			.trolley .ft span font b {
			    font-size: 30px;
			    color: #dc0f50;
			    font-weight: bold;
			}
			.trolley .ft label {
			    display: block;
			    width: 75px;
			    float: left;
			    font-size: 14px;
			    color: #333;
			}
			.trolley .ft label input {
			    float: left;
			    margin: 20px 12px 0 0;
			}
			.trolley .ft a {
			    font-size: 14px;
			    color: #333;
			}
